{% extends 'members/base.html' %}
{% block personal_details %}
    <span class="favorites fade-down">
        <b>[ 집에서 가져온 것 ]</b>
        <div class="favorites-content">
            {% for item in rows.favorite %}
                <span>{{ item }}</span>
            {% endfor %}
        </div>
    </span>
    <span class="dislikes fade-left">
        <b>[ 싫어하는 것 ]</b>
        <div class="dislikes-content">
            {% for item in rows.dislikes %}
                <span>{{ item }}</span>
            {% endfor %}
        </div>
    </span>
{% endblock personal_details %}
{% block other_info %}
    <div class="sns">
        <div class="ohsimark fade-right">
            <b>[ 오시마크 ]</b>
            <span>{{ rows.ohsimark }}</span>
        </div>
        <div class="hashtag fade-left">
            <b>[ 해시태그 ]</b>
            {% for item in rows.hashtag %}
                <span>{{ item }}</span>
            {% endfor %}
        </div>
    </div>
{% endblock other_info %}