{% extends 'members/base.html' %}
{% block other_info %}
    <div class="contents-container">
        {% for items in rows.contents.values() %}
            <div class="contents fade-down">
                <b>[ {{ items.name }} ]</b>
                {% for item in items.content %}
                    <span>{{ item }}</span>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="dream">
        <b class="fade-down">[ 목표 ]</b>
        <div class="dream-contents fade-down">
            {% for item in rows.dream %}
                <span>{{ item }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="sns">
        <div class="ohsimark fade-right">
            <b>[ 오시마크 ]</b>
            <span>{{ rows.sns.ohsimark }}</span>
        </div>
        <div class="hashtag fade-left">
            <b>[ 해시태그 ]</b>
            {% for item in rows.sns.hashtag %}
                <span>{{ item }}</span>
            {% endfor %}
        </div>
    </div>
{% endblock other_info %}