{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/members-index.css?v={{ static_version('static/css/members-index.css') }}">
{% endblock css %}
{% block body %}
    <div class="member-profiles">
        <div class="member-profile">
            <a href="/members/mocoparfe">
                <img src="/static/img/members/member-profile-1.avif" alt="MocoParfe-profile">
                <span>모코 파르페</span>
            </a>
        </div>
        <div class="member-profile">
            <a href="/members/hanseorin">
                <img src="/static/img/members/member-profile-2.avif" alt="HanSeoRin-profile">
                <span>한서린</span>
            </a>
        </div>
        <div class="member-profile">
            <a href="/members/dangkey">
                <img src="/static/img/members/member-profile-3.avif" alt="DangKey-profile">
                <span>댕키</span>
            </a>
        </div>
        <div class="member-profile">
            <a href="/members/uuhee">
                <img src="/static/img/members/member-profile-4.avif" alt="UuHee-profile">
                <span>유우희</span>
            </a>
        </div>
        <div class="member-profile">
            <a href="/members/aerusolstice">
                <img src="/static/img/members/member-profile-5.avif" alt="AeruSolstice-profile">
                <span>에루 솔스티스</span>
            </a>
        </div>
    </div>
{% endblock body %}