{% extends 'members/base.html' %}
{% block other_info %}
    <div class="contents">
        <div class="content-info fade-right">
            <b>[ 콘텐츠 ]</b>
            <div class="content-detail">
                <div class="percentage">
                    {% for content_label in rows.contents.percentage %}
                        <span>{{ content_label.label }}: {{ content_label.value }}%</span>
                    {% endfor %}
                </div>
                <div class="non-percentage">
                    {% for content in rows.contents.non_percentage %}
                        <span class="content-name">{{ content.name }}</span>
                        <span class="content-value">{{ content.detail }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="percentageChart">
            <canvas class="fade-left" id="percentageChart"></canvas>
        </div>
    </div>
    <div class="skills">
        <span class="fade-down"><b>[ 스킬 ]</b></span>
        <div class="skill-lists fade-down">
            {% for skill in rows.skills %}
                <div class="skill">
                    <b>{{ skill.name }}</b>
                    <span>{{ skill.detail | safe }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock other_info %}
{% block script %}
    <script defer src="/static/js/scroll-animation.js?v={{ static_version('static/js/scroll-animation.js') }}"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script defer src="/static/js/members/mocoparfe/mocoparfe.js?v={{ static_version('static/js/members/mocoparfe/mocoparfe.js') }}"></script>
{% endblock script %}
