{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/status/index.css?v={{ static_version('static/css/status/index.css') }}">
{% endblock css %}
{% block body %}
    <details>
        <summary>[ Profile Image Usage Status ]</summary>
        <div class="license">
            {% for item in license_items %}
            <div class="fade-right content-container">
                <img loading="lazy" width="200" height="200" src="/static/img/parents/{{ item.id }}.avif?v=20260819" alt="{{ item.name }}-Profile-Image">
                <div class="content">
                    <h1>{{ item.name }}</h1>
                    <a href="https://x.com/{{ item.username }}" target="_blank" rel="noopener noreferrer">{{ item.username }}</a>
                    {% if item.status == 0 %}
                        <span>Status: Rejected</span>
                    {% elif item.status == 1 %}
                        <span>Status: Allowed</span>
                    {% elif item.status == 2 %}
                        <span>Status: Pending</span>
                    {% endif %}
                    <span>Detail: {{ item.detail }}</span>
                    {% if item.id == "sake_dong" %}
                        <span>Unable to view due to request</span>
                    {% else %}
                        <a href="/static/img/parents/LICENSE/{{ item.id }}.avif?v=20260819" target="_blank" rel="noopener noreferrer">View Screenshot</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </details>
    <details>
        <summary>[ System Status ]</summary>
        <div class="availability">
            {% for item in availability_items %}
                <h1 class="fade-right">{{ item.url }}</h1>
                {% if item.status == 0 %}
                    <span class="fade-right unavailable">❎ Unavailable</span>
                {% endif %}
                {% if item.status == 1 %}
                    <span class="fade-right available">✅ Available</span>
                {% endif %}
            {% endfor %}
        </div>
    </details>
    <details>
        <summary>[ Browser Compatibility Status ]</summary>
        <div class="compatibility">
            {% for item in compatibility_items %}
                <h1 class="fade-right">{{ item.platform }}</h1>
                {% if item.status == 0 %}
                    <span class="fade-right uncompatible">❎ Uncompatible</span>
                {% endif %}
                {% if item.status == 1 %}
                    <span class="fade-right compatible">✅ Compatible</span>
                {% endif %}
                {% if item.status == 2 %}
                    <span class="fade-right unknown">❓ Unknown</span>
                {% endif %}
            {% endfor %}
        </div>
    </details>
{% endblock body %}