@import url(/static/css/variables.css?v=20260922);

.profile span.position b {
  color: var(--dangkey);
}

.detail {
  background-color: var(--cafe-carte-background);
  padding: 10px 40px;
  font-size: 150%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  text-align: center;
}

.detail .info,
.detail .favorites,
.detail .dislikes {
  width: 33%;
  display: flex;
  flex-direction: column;
}

.sns {
  margin: 0 40px;
  padding: 10px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  font-size: 150%;
}

.sns .ohsimark,
.sns .hashtag {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.parents {
  padding: 10px 40px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;

  background-color: var(--cafe-carte-background);
}

.parents .mama,
.parents .papa {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

@media (max-width: 768px) {
  .detail {
    padding: 10px 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .detail .info,
  .detail .favorites,
  .detail .dislikes {
    width: 100%;
  }

  .parents {
    margin: 0;
    flex-direction: column;
    align-items: center;
  }

  .mama,
  .papa {
    width: 100%;
    margin-bottom: 10px;
  }
}
