@import url(/static/css/font.css?v=20260810);
@import url(/static/css/variables.css?v=202620812);

.profile {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profile span.info {
    margin: 40px;
    display: flex;
    flex-direction: column;
    font-size: 300%;
}

.profile span.info p {
    margin: 0;
}

.profile span b {
    font-family: var(--font-Heavy);
}

.profile span small {
    font-family: var(--font-Bold);
}

.profile span p {
    font-size: 50%;
}

.image-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.image-wrapper img {
    max-width: 450px;
    width: 100%;
    height: auto;

    /* Image gradient mask */
    mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 20%
    );
    -webkit-mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 20%
    );
}

.profile span.debut-date {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    white-space: nowrap;
}

.profile span.position {
    font-size: 70%;
}

.profile span.position b {
    color: var(--mocoparfe);
}

.detail {
    padding: 10px 0;
    background-color: #efeeea;
    font-size: 150%;
}

.detail-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail span.info {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
}

.detail span.favorite-song {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
}

.detail span.hobby {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
}

.detail details {
    width: fit-content;
    margin: 10px auto 0;
}

.detail summary {
    list-style: none;
    text-align: center;
}

/* Delete markfer of <details> for Safari */
summary::-webkit-details-marker {
    display: none;
}

.detail details div.favorite-real-contents {
    margin: 0 40px 0 40px;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.contents {
    padding-top: 10px;
    margin: 0 40px;
    display: flex;
    align-items: center;
}

.contents .content-info {
    font-size: 200%;
}

.contents .content-detail {
    display: flex;
    align-items: center;
    gap: 200px;
}

.contents .percentage {
    display: flex;
    flex-direction: column;
}

.contents .non-percentage {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contents .non-percentage .content-detail {
    font-size: 70%;
}

.contents .percentageChart {
    width: 30%;
    margin-left: auto;
}

.contents .percentageChart canvas {
    display: block;
    width: 100% !important;
}

.skills {
    padding: 10px;
    background-color: #efeeea;
    font-size: 200%;
    text-align: center;
}

.skills .skill-lists {
    display: flex;
    align-items: flex-start;
}

.skills .skill-lists .skill-detail-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.skills .skill-lists .skill-detail-container span.skill-detail {
    font-size: 80%;
}

.parents {
    margin: 0 40px;
    padding: 10px 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.parents .role {
    font-size: 150%;
}

.parents img {
    width: 70%;
}

.parents a {
    text-decoration: none;
    color: var(--cafe-carte);
}

.mama {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.papa {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}