@import url(/static/css/font.css?v=20260810);
@import url(/static/css/variables.css?v=202620812);

.profile {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profile span.info {
    margin: 40px;
    display: flex;
    flex-direction: column;
    font-size: 300%;
}

.profile span.info p {
    margin: 0;
}

.profile span b {
    font-family: var(--font-Heavy);
}

.profile span small {
    font-family: var(--font-Bold);
}

.profile span p {
    font-size: 50%;
}

.image-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.image-wrapper img {
    max-width: 450px;
    width: 100%;
    height: auto;

    /* Image gradient mask */
    mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 20%
    );
    -webkit-mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 20%
    );
}

.profile span.debut-date {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    white-space: nowrap;
}

.profile span.position {
    font-size: 70%;
}

.profile span.position b {
    color: var(--mocoparfe);
}

.detail {
    padding: 10px 0 10px 0;
    background-color: #efeeea;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
}

.detail span.info {
    margin: 0 40px 0 40px;
    display: flex;
    flex-direction: column;
}

.detail span.favorite-song {
    margin: 0 40px 0 40px;
    display: flex;
    flex-direction: column;
}

.detail span.hobby {
    margin: 0 40px 0 40px;
    display: flex;
    flex-direction: column;
}