html, body {
    margin: 0;
    padding: 0;
}

.mocoparfe,
.mocoparfe a,
.mocoparfe span {
    color: #fba7d2;
}

.hanseorin,
.hanseorin a,
.hanseorin span {
    color: #f03c4b;
}

.dangkey,
.dangkey a,
.dangkey span {
    color: #ffce90;
}

.uuhee,
.uuhee a,
.uuhee span {
    color: #ceb4f1;
}

.aerusolstice,
.aerusolstice a,
.aerusolstice span {
    color: #a7cdfb;
}