@import url(/static/css/variables.css?v=20260928);

body {
  font-family: var(--font-Regular);

  line-height: 1.6;
}

main {
  margin: 55px 0 0 0;
}

h1 {
  font-size: 200%;
  font-family: var(--font-Black);
}

h2 {
  font-size: 180%;
  font-family: var(--font-ExtraBold);
}

h3 {
  font-size: 160%;
  font-family: var(--font-Bold);
}

h4 {
  font-size: 140%;
  font-family: var(--font-SemiBold);
}

h5 {
  font-size: 120%;
  font-family: var(--font-Medium);
}

h6 {
  font-size: 100%;
}

b {
  font-family: var(--font-SemiBold);
}

.details-contents {
  overflow: hidden;
  height: 0;
  transition: height 0.4s ease;
}
