html, body {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    background-color: #efeeea;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    height: 55px;
}

@media (max-width: 480px) {
    nav {
        gap: 0px;
    }

    nav a {
        font-size: 16px;
        padding: 0 8px !important;
    }
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 16px;

    color: #3e7766;
    text-decoration: none;
    box-sizing: border-box;
}

nav a:visited {
    color: #3e7766;
}

nav a:hover {
    background-color: #e3e2de;
}

nav img {
    height: 50px;
    display: block;
}