.members-banners {
    margin-top: 40px;
    margin-bottom: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.member-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.member-banner img.banner {
    width: 70%;
}

.member-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.member-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    font-size: 150%;
    text-decoration: none;
}

.member-links a img {
    width: 20%;
    margin: 4px;
}

@media (max-width: 480px) {
    .members-banners {
        margin-top: 20px;
        margin-bottom: 20px;
        gap: 20px;
    }

    .member-banner img.banner {
        width: 100%;
    }

    .member-links {
        flex-direction: column;
    }

    .member-links a img {
        max-width: 10%;
    }
}