@import url(/static/css/variables.css?v=20260922);

.mocoparfe {
    color: var(--mocoparfe)
}

.hanseorin {
    color: var(--hanseorin)
}

.dangkey {
    color: var(--dangkey);
}

.uuhee {
    color: var(--uuhee);
}

.aerusolstice {
    color: var(--aerusolstice);
}