{% extends 'base.html' %}
{% block body %}
    <div class="profile">
        <span class="info fade-right">
            <p>{{ rows.race }}</p>
            <h1 class="mocoparfe">한서린</h1>
            <small class="mocoparfe">Han Seo Rin</small>
            <p>{{ rows.story | safe }}</p>
            <span class="position">
                <b>「{{ rows.position }}」</b> of Cafe Carte
            </span>
        </span>
        <div class="image-wrapper">
            <span class="debut-date fade-left">
                <span>[ 데뷔일 ]</span>
                <span>{{ rows.debut_date }} on <a class="chzzk" href="{{ rows.chzzk }}" target="_blank" rel="noopener noreferrer">CHZZK</a></span>
            </span>
            <img class="fade-left" loading="lazy" decoding="async" src="/static/img/members/hanseorin/portrait.avif?v=20260817" alt="HanSeoRin-Profile-Image">
        </div>
    </div>
    <div class="detail">
        <div class="detail-main">
            <span class="info fade-right">
                <span><b>나이</b>: {{ rows.age }}</span>
                <span><b>키</b>: {{ rows.height }}</span>
                <span><b>몸무게</b>: {{ rows.weight }}</span>
                <span><b>생일</b>: {{ rows.birthday }}</span>
                <span><b>MBTI</b>: {{ rows.mbti }}</span>
            </span>
            <span class="favorites fade-left">
                <b>[ 좋아하는 것 ]</b>
                {% for hobby in rows.favorite %}
                    <span>{{ hobby }}</span>
                {% endfor %}
            </span>
            <span class="dislikes">
                <b>[ 싫어하는 것 ]</b>
                {% for item in rows.dislike %}
                    <span>{{ item }}</span>
                {% endfor %}
            </span>
        </div>
        <details>
            <summary class="favorite-real fade-down">[ 빨간약 먹기 ]</summary>
            <div class="favorite-real-contents">
                <div>
                    <span><b>[ 좋아하는 것 (찐) ]</b></span>
                    <span>
                        {% for favorite in rows.favorite_real %}
                            <span>{{ favorite }}</span>
                        {% endfor %}
                    </span>
                </div>
            </div>
        </details>
    </div>
{% endblock body %}