{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/members/mocoparfe.css?v={{ static_version('static/css/members/mocoparfe.css') }}">
{% endblock css %}
{% block body %}
    <div class="profile">
        <span class="info">
            <p>{{ rows.race }}</p>
            <b>모코 파르페</b>
            <small>Moco Parfe</small>
            <p>{{ rows.story | safe }}</p>
            <span class="position">
                <b>「{{ rows.position }}」</b> of Cafe Carte
            </span>
        </span>
        <div class="image-wrapper">
            <span class="debut-date">
                <span>[ 데뷔일 ]</span>
                {{ rows.debut_date }}
            </span>
            <img src="/static/img/members/mocoparfe/portrait.webp" alt="Portrait Image">
        </div>
    </div>
    <div class="detail">
        <div class="detail-main">
            <span class="info">
                <span><b>나이</b>: {{ rows.age }}</span>
                <span><b>키</b>: {{ rows.height }}</span>
                <span><b>몸무게</b>: {{ rows.weight }}</span>
                <span><b>생일</b>: {{ rows.birthday }}</span>
                <span><b>MBTI</b>: {{ rows.mbti }}</span>
            </span>
            <span class="favorite-song">
                <b>[ 좋아하는 노래 ]</b>
                {% for song in rows.favorite_song %}
                    <span>{{ song }}</span>
                {% endfor %}
            </span>
            <span class="hobby">
                <b>[ 좋아하는 것 ]</b>
                {% for hobby in rows.favorite_hobby %}
                    <span>{{ hobby }}</span>
                {% endfor %}
            </span>
        </div>
        <details>
            <summary class="favorite-real">[ 빨간약 먹기 ]</summary>
            <div class="favorite-real-contents">
                <span><b>[ 좋아하는 것 (찐) ]</b></span>
                <span>
                    {% for favorite in rows.favorite_real %}
                        <span>{{ favorite }}</span>
                    {% endfor %}
                </span>
            </div>
        </details>
    </div>
    <div class="contents">
        <div class="content-info">
            <b>[ 콘텐츠 ]</b>
    
            <div class="content-detail">
                <div class="percentage">
                    {% for content_label in rows.contents.percentage %}
                        <span>{{ content_label.label }}: {{ content_label.value }}%</span>
                    {% endfor %}
                </div>
    
                <div class="non-percentage">
                    <span class="content-name">{{ rows.contents.non_percentage.name_1 }}</span>
                    <span class="content-detail">{{ rows.contents.non_percentage.detail_1 }}</span>
                    <span class="content-name">{{ rows.contents.non_percentage.name_2 }}</span>
                    <span class="content-detail">{{ rows.contents.non_percentage.detail_2 }}</span>
                </div>
            </div>
        </div>
    
        <div class="percentageChart">
            <canvas id="percentageChart"></canvas>
        </div>
    </div>
    <div class="skills">
        <span><b>[ 스킬 ]</b></span>
        <div class="skill-lists">
            <div class="skill-detail-container">
                <span><b>{{ rows.skill.name_1 }}</b></span>
                <span class="skill-detail">{{ rows.skill.detail_1 | safe }}</span>
            </div>
            <div class="skill-detail-container">
                <span><b>{{ rows.skill.name_2 }}</b></span>
                <span class="skill-detail">{{ rows.skill.detail_2 | safe }}</span>
            </div>
        </div>
    </div>
{% endblock body %}
{% block script %}
    <script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/members/mocoparfe.js?v={{ static_version('static/js/members/mocoparfe.js') }}"></script>
{% endblock script %}