{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/about/index.css?v={{ static_version('static/css/about/index.css') }}">
{% endblock css %}
{% block body %}
    <p>{{ warning | safe }}</p>
    <span>
        <b>
            [개발자]
        </b>
        <a href="http://haeengin.com" target="_blank" rel="noopener noreferrer">
            {{ developer_username }}
        </a>
        <b>
            [문의 및 연락]
        </b>
        <a href="mailto:{{ developer_contact }}" target="_blank" rel="noopener noreferrer">
            {{ developer_contact }}
        </a>
        <b>
            [GitHub 리포지토리 URL]
        </b>
        <a href="{{ github_url }}" target="_blank" rel="noopener noreferrer">
            {{ github_url }}
        </a>
    </span>
{% endblock body %}