{% set desc = "Cafe Carte - 카페 카르테의 비공식 팬 웹 사이트. 모코 파르페, 한서린, 댕키, 유우희, 에루 솔스티스로 구성된 카페 카르테를 만나보세요." %}
{% set banner = "https://cafe-carte.fans/static/img/banner.jpg" %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ desc }}">
    <!-- Import CSS -->
    <link rel="stylesheet" href="/static/css/base.css?v={{ static_version('static/css/base.css') }}">
    <link rel="stylesheet" href="/static/css/nav-bar.css?v={{ static_version('static/css/nav-bar.css') }}">
    <link rel="stylesheet" href="/static/css/font.css?v={{ static_version('static/css/font.css') }}">
    {% block css %}{% endblock css %}
    <!-- Import favicon -->
    <link rel="icon" type="image/png" href="/static/favicon/favicon-96x96.png?v=20260809" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="/static/favicon/favicon.svg?v=20260809">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico?v=20260809">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png?v=20260809">
    <meta name="apple-mobile-web-app-title" content="Cafe Carte">
    <link rel="manifest" href="/static/favicon/site.webmanifest?v=20260809">
    <!-- Open graph settings -->
    <meta property="og:title" content="Cafe Carte - 카페 카르테">
    <meta property="og:url" content="https://cafe-carte.fans">
    <meta property="og:description" content="{{ desc }}">
    <meta property="og:image" content="{{ banner }}">
    <meta property="og:image:alt" content="Cafe Carte Banner Image">
    <meta property="og:locale" content="ko_KR">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="large-image-twitter.jpg">
    <meta name="twitter:description" content="{{ desc }}">
    <meta name="twitter:image" content="{{ banner }}">
    <title>{{ title }}</title>
</head>
<body>
    <nav>
        <a href="/">
            <img class="nav-logo" src="/static/img/cafe-carte_logo.avif?v=20260806" alt="Cafe Carte Logo">
        </a>
        <div class="nav-menu">
            <a href="/members">MEMBERS</a>
            <a href="/meet-us">MEET US</a>
            <a href="/about">ABOUT</a>
        </div>
    </nav>
    <main>
        {% block body %}{% endblock body %}
    </main>
    {% block script %}{% endblock script %}
</body>
</html>