{% extends 'base.html' %}
{% block body %}
    <h1>완성 안 될 확률 90% 이상</h1>
    <footer>
        <div class="logo">
            <img width="120" src="/static/img/cafe-carte_logo.avif?v=20260915" alt="카페 카르테 로고">
        </div>
        <div class="title">
            <span>Unofficial Fan Website of Cafe Carte</span>
            <span>카페 카르테의 비공식 팬 웹사이트</span>
        </div>
        <div class="link">
            <div class="members">
                <span><b>Members</b></span>
                <a href="/members/mocoparfe">모코 파르페</a>
                <a href="/members/hanseorin">한서린</a>
                <a href="/members/dangkey">댕키</a>
                <a href="/members/uuhee">유우희</a>
                <a href="/members/aerusolstice">에루 솔스티스</a>
            </div>
            <div class="sns">
                <span><b>SNS</b></span>
                <a href="/meet-us">Meet Us</a>
            </div>
            <div class="about">
                <span><b>About</b></span>
                <a href="/about">이 웹사이트에 대해</a>
            </div>
            <div class="status">
                <span><b>Status</b></span>
                <a href="/status">시스템 상태</a>
            </div>
            <div class="contact">
                <span><b>[개발자]</b></span>
                <a href="https://haeengin.com" target="_blank" rel="noopener noreferrer">HaeengIn</a>
                <span><b>[문의 및 연락]</b></span>
                <a href="mailto:haeengin@gmail.com">haeengin@gmail.com</a>
            </div>
        </div>
    </footer>
{% endblock body %}